body{
text-align: center;
background-color: lightgreen;
}
#snorlax{
  width: 300px;  
}
#abra{
width: 300px;
}
#gastly{
width: 300px;
}
#totodile{
width: 250px;
}
#charmander{
width: 350px;
}
#greninja{
width: 400px;
}